Source: ros-hydro-rosbag-migration-rule
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: http://ros.org/wiki/rosbag_migration_rule
Standards-Version: 3.9.2

Package: ros-hydro-rosbag-migration-rule
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This empty package allows to export rosbag migration rule files without depending on rosbag.
